* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #555;
  --primary-color-light: #64605ed9;
  --white: #fff;
  --black: #2f2f2f;
  --glass: #d0d5dd75;
  --glass-dark: #d0d5dd;
  --glass-dark-light: #ebebecdd;

  --theme-color: #fff;

  /* Font */
  --fbody: "Inter", sans-serif;
  --fpoppins: "Poppins", sans-serif;
}

.dark {
  --black: #1d1d1f8d;
  background: #1717176b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--fpoppins);
  padding: 1.5rem 8rem;
  transition: all 0.2s;
  position: relative;
  line-height: 1.7;
  color: #1a1a1a;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
}
img {
  object-fit: cover;
}
/* Global */

/* Container */
.container {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
}

/* Navbar */
.main__nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  z-index: 100;
}
.navbar {
  max-width: 103rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  padding: 1rem 1rem;
  border-radius: 50rem;
}

.mobile-nav,
.mobile-nav-items-menu {
  display: none;
}

.navbar__left-side ul,
.navbar__right-side ul {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-family: var(--fpoppins);
  transition: all 0.2s linear;
}
.navbar__left-side ul li,
.navbar__right-side ul li {
  cursor: pointer;
}
.navbar__left-side ul li a,
.navbar__right-side ul li a {
  display: inline-block;
  padding: 1rem 4rem;
}
.my-logo {
  width: 20rem;
  height: 3rem;
}
.navbar-item:hover {
  background-color: var(--primary-color-light);
  border-radius: 50rem;
}
.navbar-item a.active {
  background: var(--glass-dark);
  border-radius: 50rem;
  font-weight: 500;
  color: var(--black);
  transition: all 0.2s linear;
}
/* HERO */
.hero {
  padding: 3rem;
  padding-bottom: 7rem;
  padding-top: 10rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p__greet {
  font-size: 1.4rem;
  text-align: center;
  border: 1.5px solid var(--black);
  padding: 1rem;
  border-radius: 5rem;
  width: 10rem;
  position: relative;
  font-weight: 500;
}
.p__greet-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h__greet {
  margin-top: 2rem;
  font-size: 6rem;
  font-weight: 500;
}
.h__greet-2 {
  font-size: 6rem;
  font-weight: 500;
  position: relative;
}

.h__greet span {
  color: var(--primary-color);
}
.hire-me {
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire__btn {
  color: #171717;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid var(--glass-dark);
  background: var(--glass);
  padding: 0.4rem 0.7rem;
  border-radius: 3rem;
}
.hire__btn a {
  color: var(--black);
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 10rem;
}
.hire__btn a:hover {
  background-color: var(--primary-color-light);
  color: var(--theme-color);
}
.hire__btn a:nth-child(1) {
  margin-right: 1rem;
  position: relative;
}
.hire__btn a:nth-child(1)::after {
  content: "";
  position: absolute;

  right: -0.65rem;
  width: 0.2rem;
  height: 2rem;
  background-color: var(--black);
}

.scroll-down {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  justify-content: flex-end;
  margin-top: 3rem;
  animation: upanddown 1.2s linear alternate infinite;
}

@keyframes upanddown {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}

.scroll-down p {
  color: var(--black);
}

/* About me */
.about-me {
  padding: 9.6rem 0;
  padding-top: 2rem;
}

.about__header span {
  color: var(--primary-color);
}
.about-me h2 {
  font-size: 5rem;
  font-weight: 500;
}
.about-me p {
  font-size: 1.4rem;
  color: var(--primary-color-light);
}
.about__content {
  padding: 2.8rem 0;
}
.about__content p {
  font-size: 1.4rem;
}
.about__content span {
  font-weight: 600;
}
.skills__header {
  margin-bottom: 4rem;
}
.skills__header span {
  color: var(--primary-color);
}
.skills__header h3 {
  font-size: 1.6rem;
}

/* Swiper JS */
.swiper {
  width: 100%;
  height: 40px;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 85%,
    rgba(255, 255, 255, 0.3) 100%
  );

  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: cover;

  mask-position: center;
}
.swiper-slide {
  width: 200px !important; /* allows multiple slides on screen */
  flex-shrink: 0; /* prevent shrinking */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px; /* space inside slides */
  border-radius: 6px;
}
.swiper-wrapper {
  transition-timing-function: linear !important; /* makes it constant speed */
}
.swiper-slide {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.html {
  color: #0462b5;
}
.css {
  color: #9eb904;
}
.js {
  color: #f25151;
}
.tailwindcss {
  color: #5353ed;
}
.tailwind-css {
  stroke: #0462b5;
}
.bootstrap {
  color: #ed539c;
}
.py {
  color: #5364ed;
}
.git {
  color: #fb5a10;
}
.figma {
  color: #fb1042;
}
.react {
  color: #6369ff;
}
.chrome {
  color: #8f8104;
}

/* PROJECTS */
.projects {
  padding: 4rem 2rem;
  background: #f9fafc;
}

.about__header {
  text-align: center;
  margin-bottom: 3rem;
}

.about__header h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.about__header h2 span {
  color: var(--primary-color-light);
}

.about__header p {
  color: #666;
}

/* PROJECT */
.projects {
  max-width: 80vw;
  margin: auto;
  text-align: center;
  padding: 4rem 2rem;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.project__card {
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
}

.project__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem 1.5rem 0 0;
}

.project__card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project__content {
  padding: 1.5rem;
}

.project__content h3 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

.project__content p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.project__links {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.splide__pagination__page.is-active {
  background: var(--black); /* active color */
  opacity: 1;
  transform: scale(1.3); /* makes active dot bigger */
}

.project__links a {
  font-size: 1.4rem;
  color: var(--primary-color);
  transition: color 0.3s;
}

.project__links a:hover {
  color: #fb1042;
}

#project-carousel {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* My services */
/* Section Header */
.about__header {
  text-align: center;
  margin-bottom: 2rem;
}

.about__header h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 1rem;
}

.about__header h2 span {
  color: var(--primary-color-light);
}

.about__header p {
  font-size: 1.2rem;
  color: #555;
}

/* Services container */
.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Each service */
.service--1 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #444;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.service--1:hover {
  transform: translateY(-2px);
}

/* Service number */
.service--1 > p {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primary-color-light);
  margin: 0;
}

/* Content */
.service-content-title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.service-content-subtitle {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #666;
}

/* Hidden description */
.content-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  color: #444;
}

.service--1:hover .content-description {
  max-height: 300px;
}

.service-reach {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5rem;
  border: 2px solid var(--black);
  color: var(--black);
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.service-reach::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #5364ed;
  transition: width 0.3s ease;
  z-index: -1;
}

.service-reach:hover {
  color: #fff;
  border-color: #5364ed;
}

.service-reach:hover::before {
  width: 100%;
}

.resume-card {
  padding: 3rem;
  margin: 2rem auto;
  width: 75%;
  position: relative;
}

.resume-card-item {
  position: relative;
  padding: 2rem;
}

.resume-card-item h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.resume-card-item p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.resume-left-card {
  width: 50%;
  left: 0;
}
.resume-right-card {
  display: block;
  width: 50%;
  left: 50%;
}
.resume-timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  margin-top: 5rem;
  background-color: var(--primary-color);
  top: 0;
  left: 50%;
  z-index: 1;
}
.edu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.1rem;
}
.edu-desc {
  font-size: 1rem !important;
  margin-bottom: 0.7rem;
}
.edu-header {
  font-size: 1.2rem;
  margin-top: 0.4rem;
  font-weight: 500;
}

.edu-header abbr {
  text-decoration: none;
}
.right-resume-circle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: -1.7%;
  z-index: 2;
  top: 2rem;
}
.left-resume-circle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  right: -1.7%;
  z-index: 2;
  top: 2rem;
}
.download-resume {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-resume a {
  color: var(--primary-color);
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 40rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-around;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.download-resume a::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50rem;
  background-color: var(--primary-color);
  z-index: -1;
  transition: all 0.2s linear;
}
.download-resume a:hover {
  color: var(--white);
  width: max-content;
}
.download-resume a:hover::before {
  width: 100%;
}
.download-icon {
  position: relative;
  top: -40px;
  right: 0;
  width: 0.5rem;
  height: 1.2rem;
  transition: all 0.2s linear;
  margin-right: 1.2rem;
}
.download-resume a:hover .download-icon {
  top: -5px;
  fill: white;
}
