@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
    padding: 1rem 3rem;
  }

  .main__nav {
    top: 87%;
  }

  .navbar {
    display: none;
  }

  .mobile-nav-items-menu {
    display: block;
  }

  .mobile-nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    padding: 1rem 1rem;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;

    z-index: 5;
  }

  .mobile-nav .icon,
  .mobile-nav-items-icon {
    fill: var(--white);
  }

  .icons {
    margin-right: 2rem;
  }
  .icons button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .my-logo {
    width: 15rem;
    height: 4rem;
  }

  .mobile-nav-items {
    margin: 0 auto;
    position: absolute;
    width: 95%;
    background-color: var(--black);
    font-size: 1.4rem;
    top: 0;
    height: 0;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
    transition: all 0.2s linear;
    visibility: hidden;
    padding: 2rem 3rem 5rem 3rem;
  }

  .mobile-nav-items.open {
    visibility: visible;
    top: -150%;
    height: 21rem;
    padding: 2rem 3rem 5rem 3rem;
  }

  .mobile-nav-item a.active .mobile-nav-items-icon {
    fill: #fd853a;
  }

  .mobile-nav-items-icon:hover {
    fill: var(--primary-color);
  }
  .hero {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .scroll-down {
    margin-top: 5rem;
  }

  .h__greet,
  .h__greet-2 {
    font-size: 3.5rem;
  }

  /* ABOUT ME */
  .about-me h2 {
    font-size: 2.8rem;
  }

  /* Project */
  .timeline::after {
    background-color: transparent;
    left: 0;
  }

  .left-container {
    width: 100%;
  }
  .right-container {
    left: 0;
    width: 100%;
  }

  .right-container img,
  .left-container img {
    left: -22%;
  }

  .left-container-arrow {
    border-right: 10px solid var(--glass-dark-light);
    border-left: 10px transparent;
    left: -9px;
  }

  .service--1 {
    gap: 3rem;
  }
  .service--1 > p {
    display: none;
  }

  .service-content-title {
    font-size: 2.5rem;
  }

  #project-carousel {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
